<!DOCTYPE html>
<html>

<head>
	<title>Alex Hollums</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/customstyle.css" rel="stylesheet" media="screen">
</head>

<title>My Game Database</title>
<body>

<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!--
			navbar-header div is used for branding purposes
		-->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../index.html">Alex Hollums</a>
		</div> <!-- End the navbar header div -->
		
		<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="about.html">
							<img class="icon" src="../images/icons/question_block.png">
							About Me
						</a>
					</li>
					<ul class="nav navbar-nav">
					<li>
						<a href="games.html">
							<img class="icon" src="../images/icons/pacman.png">
							Games
						</a>
					</li>
					<li>
						<a href="music.html">
							<img class="icon" src="../images/icons/music.png">
							Music
						</a>
					</li>
				</ul>
		</div> <!-- End the navbar collapse div -->
	</div> <!-- End the container div -->
</nav>

<div class="container">
	<div class="row row-centered">
		<img class="img-centered img-circle" src="../images/profile_picture.jpg" width="300" height="300">
	</div>
	<div class="row row-centered" style="padding-top:10px;">
		<a href="http://www.facebook.com/alex.hollums">
			<img class="icon-large img-centered" src="../images/icons/facebook.png">
		</a>
		<a href="http://www.linkedin.com/in/alexhollums/">
			<img class="icon-large img-centered" src="../images/icons/linkedin.png">
		</a>
	</div>

	<br>

	<div class="row">
		<div class="col-md-2">
			<category>
				Games<br><br>
				<img src="../images/blizzard.png" class="img-responsive">
			</category>
		</div>
		<div class="col-md-8">
			Needless to say: I am a gamer, and a nerd.  I embrace this.
			As soon as I could hold a controller, I've been fascinated with video games.  In my early years, my friends and I would make a weekly ritual of playing the first Halo on Microsoft's Xbox console, and every week our setup would become more and more elaborate. More people, multiple systems linked together, multiple TV's across the house, longer chords for controllers to make our time pass more comfortably leaned back in chairs or couches, you name it, we thought of it. 
			<br><br>
			As I got older, I was exposed to my first "<a href="http://us.blizzard.com/en-us/">Blizzard</a>" game, called <i>Diablo</i>.  I was hooked immediately.  Again, my buddies and I would get together and play this game religiously.  Multiple computers, pizza, energy drinks -- the whole shabang. This was also my first MMORPG (Massively Multiplayer Online Role Playing Game -- quite the mouthful), and it exposed me to a new side of gaming: the social aspect.
			Queue the snorts of laughter from the average guy who spent most his time outdoors and talking to the babes - and I don't blame him. You can't know the rich community these games provide until you've experienced it.
			<br><br>
			From Diablo, I went to World of Warcraft, next to Starcraft... basically whatever else Blizzard produced, I would dive into.  I made great friends playing these games, some coincidentally who lived right down the street even - I just hadn't met them.  Honestly, without the social outlet these games provided, I probably wouldn't ever have met them.  From these games, I met a wide range of people: of differing ages, some that lived across the country, others across the world; and to this day I still keep up with many them, and consider them to be some of my best friends. I learned so much from these people and in a way these games helped shape who I have grown up to become today.
			<br><br>
			This is why I am passionate about becoming a video game developer. Sure I love to play games, and even more to make them. But above all, I want to be a part of this community, I want to give back, I want every kid and adult alike to have more opportunities to get involved in these social communities.  
			<br><br>
			In the gaming community, nobody will judge you for how old you are, where you're from, or what you look like. It's a community that everyone gets together to have fun. Not so different from a family sitting around a board game, having a way that Mom, Dad, and the kids can put aside their different lives and different schedules and simply enjoy their time together. Just read the side of the box - everyone from ages 8+ can play - and compete as equal competitors in a common environment. With these MMO games, your family is the online community with millions of players to interact with. So, jump in and play!
			<br><br>
			Well that concludes this fireside chat about video games today with Alex Hollums...
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-2">
			<category>
				School<br><br>
				<img src="../images/uga.png" class="img-responsive">
			</category>
		</div>
		<div class="col-md-8">
			I began in college with the Mathematics major, since I always had an aptitude for it in high school.  In my second semester of college, I took a CSCI1301 course at Kennesaw State University in which I excelled at with great enthusiasm. After I transferred to University of Georgia, I declared a second major in Computer Science.
			<br><br>
			Between my rigorous courses in Mathematics on and my heavy work load from my courses in Computer Science, I kept pretty busy at UGA.  Apart from the material I learned at school, I also learned how to prioritize my time well, and plan ahead for projects and assignments. Way ahead...
			<br><br>
			My favorite math class I had taken at UGA was Cryptography: where Number Theory meets Computer Science! I thoroughly enjoyed the math that goes into the algorithms the computers use today to encrypt sensitive data over the web.  On the other hand, my favorite Computer Science class I had taken was Game Programming.  Had this been the only class I took that semester, I would have spent the entirety of the semester perfecting the games and projects for this class.  Sadly, there was too little time to do it all.
			<br><br>
			I can now proudly say that I am an alumni of the University of Georgia (Go Dawgs!) I graduated with a double major in Mathematics and Computer Science. 
		</div>
	</div>

	<div class="row row-centered">
		<div class="resume">
			<img class="img-responsive" src="../images/Hollums_Resume_8_4_16-black.png">
		</div>
	</div>
	<!-- Download pdf -->
	<div style="text-align:center;">
		<form method="get" action="../images/Hollums_Resume_8_4_16.pdf">
			<button style="margin:0 auto;color:white;background-color:red;margin-bottom:10px;font-family:arial;" type="submit">Download PDF</button>
		</form>
	</div>
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src = "../js/bootstrap.js"></script>

</body>
</html>