<!DOCTYPE html>
<html>

<head>
	<title>Alex Hollums</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/customstyle.css" rel="stylesheet" media="screen">
</head>

<title>My Game Database</title>
<body>

<nav class="navbar-wrapper navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!--
			navbar-header div is used for branding purposes
		-->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../index.html">Alex Hollums</a>
		</div> <!-- End the navbar header div -->
		
		<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="about.html">
							<img class="icon" src="../images/icons/question_block.png">
							About Me
						</a>
					</li>
					<ul class="nav navbar-nav">
					<li>
						<a href="games.html">
							<img class="icon" src="../images/icons/pacman.png">
							Games
						</a>
					</li>
					<li class="active">
						<a href="music.html">
							<img class="icon" src="../images/icons/music.png">
							Music
						</a>
					</li>
				</ul>
		</div> <!-- End the navbar collapse div -->
	</div> <!-- End the container div -->
</nav>

<h1 style="color:yellow;padding-bottom:10px">Music</h1>

<div class="container">
	<div class="row row-centered">
		<a href = "http://www.tenstringserenade.com/">
			<img class="img-centered img-circle" src="../images/tss.tiff" width="300" height="300">
		</a>
	</div>

	<div class="row row-centered" style="padding-top:10px;">
		<a href="http://www.tenstringserenade.com/">TenString Serenade</a>
		<a href="https://www.facebook.com/TenStringSerenade">
			<img class="icon img-centered" src="../images/icons/facebook.png">
		</a>
	</div>

	<div class="row row-centered">
		<div class="youtube">
			Antoine Dufour - Spiritual Groove (cover by TenString Serenade)
			<div class="video">
				<iframe width="420" height="315" src="http://www.youtube.com/embed/qAQYdOOK68M" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<div class="row row-centered">
		<div class="youtube">
			Andy McKee - Drifting (cover by TenString Serenade)
			<div class="video">
				<iframe width="420" height="315" src="http://www.youtube.com/embed/A5Aa42tbxWM" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<div class="row row-centered">
		<div class="youtube">
			TenString Serenade - Big Shoes (Original)
			<div class="video">
				<iframe width="420" height="315" src="http://www.youtube.com/embed/iPKx59Mk-6g" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="row row-centered">
		<div class="youtube">
			Antoine Dufour - Spiritual Groove Cover (throwback cover)
			<div class="video">
				<iframe width="420" height="315" src="http://www.youtube.com/embed/Bp4xgE8px90" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div> <!--container-->

<div class="container">
	<br>
	<div class="row">
		<div class="col-md-2">
			<category>
				<img src="../images/icons/music.png" class="img-responsive">
			</category>
		</div>
		<div class="col-md-8">
			My Dad started teaching me guitar when I was 14. Mason Williams' "<a href="https://www.youtube.com/watch?v=8Z9nl3T31wI&feature=kp">Classical Gas</a>", classic Rock and Folk songs, jazzy arrangements by Charlie Byrd, this is where I started. From there, I started following some of the <a href="https://www.youtube.com/user/rpoland">CandyRat</a> artists on YouTube. My favorites were <a href="https://www.youtube.com/watch?v=uNw9YaXemlM">Antoine Dufour</a> and <a href="https://www.youtube.com/watch?v=Ddn4MGaS3N4&list=PLnD6c2GatE-98JyPp4AN-gm1G60kl7HH9">Andy McKee</a>. They really opened my eyes to the unique sounds that can only be found in open tunings. Their technique of integrating fretboard tapping and harmonics really interested me to learn that eccentric style they've trademarked.
			<br><br>
			In high school, my music partner in crime, <a href="http://www.linkedin.com/pub/karla-dietmeyer/72/37/89a">Karla Dietmeyer</a>, taught me a lot as well. Together, we arranged a CD called "The Departure" under the name "<a href="http://www.tenstringserenade.com/">TenString Serenade</a>."
			Later on while I was in college, I continued to dabble on the guitar, but eventually picked up with playing the drums for fun with my room mates.  I learned how to play in a larger group and improvise, and just enjoy the "jam" as we'd call it. By the end of my college career, I've developed a rudimentary understanding of the bass, guitar, drums, harmonica and even just a little bit of singing.
			<br><br>
			Eventually, I would like to know how to play as many instruments as possible - enough to "dabble" the way I do with my room mates.  Each instrument has a offers a different way of enjoying music, so the more, the merrier. For now, I am picking back up the guitar and working on writing music for the games I plan to develop in the future.
		</div>
	</div>
	<br>
</div>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src = "../js/bootstrap.js"></script>

</body>
</html>